In [1]:
!pip install yfinance

import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

aapl = yf.Ticker('AAPL')

days = 20
hist = aapl.history(period=f'{days}d')

hist_msft = yf.Ticker('MSFT').history(period=f'{days}d')

hist.index = hist.index.strftime('%d %B %Y')

hist = hist[['Close']]
hist.columns = ['apple']

hist = hist.T

hist.index.name = 'Name'
hist

Requirement already satisfied: yfinance in c:\users\tatsu\anaconda3\lib\site-packages (0.1.84)
Requirement already satisfied: requests>=2.26 in c:\users\tatsu\anaconda3\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: numpy>=1.15 in c:\users\tatsu\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Requirement already satisfied: lxml>=4.5.1 in c:\users\tatsu\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\tatsu\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\tatsu\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: pandas>=0.24.0 in c:\users\tatsu\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\tatsu\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\tatsu\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\tatsu\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tatsu\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\tatsu\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tatsu\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: six>=1.5 in c:\users\tatsu\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)

Date,03 October 2022,04 October 2022,05 October 2022,06 October 2022,07 October 2022,10 October 2022,11 October 2022,12 October 2022,13 October 2022,14 October 2022,17 October 2022,18 October 2022,19 October 2022,20 October 2022,21 October 2022,24 October 2022,25 October 2022,26 October 2022,27 October 2022,28 October 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,142.449997,146.100006,146.399994,145.429993,140.089996,140.419998,138.979996,138.339996,142.990005,138.380005,142.410004,143.75,143.860001,143.389999,147.270004,149.449997,152.339996,149.350006,144.800003,155.740005

In [30]:
days = 20
tickers = {
    'apple': 'AAPL',
    'meta': 'META',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN'
}

def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
    # company = 'apple'
        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df, hist])
    return df

In [31]:
days = 20
tickers = {
    'apple': 'AAPL',
    'meta': 'META',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN'
}

get_data(days, tickers)

Date,03 October 2022,04 October 2022,05 October 2022,06 October 2022,07 October 2022,10 October 2022,11 October 2022,12 October 2022,13 October 2022,14 October 2022,17 October 2022,18 October 2022,19 October 2022,20 October 2022,21 October 2022,24 October 2022,25 October 2022,26 October 2022,27 October 2022,28 October 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,142.449997,146.100006,146.399994,145.429993,140.089996,140.419998,138.979996,138.339996,142.990005,138.380005,142.410004,143.750000,143.860001,143.389999,147.270004,149.449997,152.339996,149.350006,144.800003,155.740005
meta,138.610001,140.279999,138.979996,139.070007,133.449997,133.789993,128.539993,127.500000,130.289993,126.760002,134.039993,132.800003,133.229996,131.529999,130.009995,129.720001,137.509995,129.820007,97.940002,99.199997
google,98.639999,101.639999,101.430000,101.419998,98.680000,97.860001,97.180000,97.559998,99.059998,96.559998,99.970001,100.769997,99.629997,99.970001,101.129997,102.519997,104.480003,94.930000,92.220001,96.290001
microsoft,240.740005,248.880005,249.199997,246.789993,234.240005,229.250000,225.410004,225.750000,234.240005,228.559998,237.529999,238.500000,236.479996,236.149994,242.119995,247.250000,250.660004,231.320007,226.750000,235.869995
netflix,239.039993,240.740005,236.729996,240.020004,224.750000,229.979996,214.289993,220.869995,232.509995,230.000000,245.100006,240.860001,272.380005,268.160004,289.570007,282.450012,291.019989,298.619995,296.940002,295.720001
amazon,115.879997,121.089996,120.949997,120.300003,114.559998,113.669998,112.209999,112.900002,112.529999,106.900002,113.790001,116.360001,115.070000,115.250000,119.320000,119.820000,120.599998,115.660004,110.959999,103.410004

In [34]:
!pip install altair

import altair as alt

Requirement already satisfied: altair in c:\users\tatsu\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: jsonschema>=3.0 in c:\users\tatsu\anaconda3\lib\site-packages (from altair) (4.16.0)
Requirement already satisfied: toolz in c:\users\tatsu\anaconda3\lib\site-packages (from altair) (0.11.2)
Requirement already satisfied: jinja2 in c:\users\tatsu\anaconda3\lib\site-packages (from altair) (2.11.3)
Requirement already satisfied: pandas>=0.18 in c:\users\tatsu\anaconda3\lib\site-packages (from altair) (1.4.4)
Requirement already satisfied: numpy in c:\users\tatsu\anaconda3\lib\site-packages (from altair) (1.21.5)
Requirement already satisfied: entrypoints in c:\users\tatsu\anaconda3\lib\site-packages (from altair) (0.4)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\tatsu\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\tatsu\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (21.4.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\tatsu\anaconda3\lib\site-packages (from pandas>=0.18->altair) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\tatsu\anaconda3\lib\site-packages (from pandas>=0.18->altair) (2.8.2)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\tatsu\anaconda3\lib\site-packages (from jinja2->altair) (2.0.1)
Requirement already satisfied: six>=1.5 in c:\users\tatsu\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.18->altair) (1.16.0)

In [56]:
companies = ['apple', 'meta']
data = df.loc[companies]
data = data.T.reset_index()
data

Name             Date       apple        meta
0     03 October 2022  142.449997  138.610001
1     04 October 2022  146.100006  140.279999
2     05 October 2022  146.399994  138.979996
3     06 October 2022  145.429993  139.070007
4     07 October 2022  140.089996  133.449997
5     10 October 2022  140.419998  133.789993
6     11 October 2022  138.979996  128.539993
7     12 October 2022  138.339996  127.500000
8     13 October 2022  142.990005  130.289993
9     14 October 2022  138.380005  126.760002
10    17 October 2022  142.410004  134.039993
11    18 October 2022  143.750000  132.800003
12    19 October 2022  143.860001  133.229996
13    20 October 2022  143.389999  131.529999
14    21 October 2022  147.270004  130.009995
15    24 October 2022  149.449997  129.720001
16    25 October 2022  152.339996  137.509995
17    26 October 2022  149.350006  129.820007
18    27 October 2022  144.800003   97.940002
19    28 October 2022  155.740005   99.199997

In [57]:
data = pd.melt(data, id_vars=['Date']).rename(
    columns={'value': 'Stock Prices(USD)'}
)
ydata.head()

              Date   Name  Stock Prices(USD)
0  03 October 2022  apple         142.449997
1  04 October 2022  apple         146.100006
2  05 October 2022  apple         146.399994
3  06 October 2022  apple         145.429993
4  07 October 2022  apple         140.089996

In [78]:
ymin = 90
ymax = 160

chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip=True)
    .encode(
        x="Date:T",
        y=alt.Y("Stock Prices(USD):Q", stack=None,scale=alt.Scale(domain=[ymin,ymax])),
        color='Name:N'
    )
)

In [79]:
chart

alt.Chart(...)